.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  padding: 20px;
}
.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpadteTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.settingsDeleteTitle {
  color: red;
  font-size: 17px;
  cursor: pointer;
}
.settingsForm {
  display: flex;
  flex-direction: column;
}
.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settingsPPImg {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.settingsSubmit {
  width: 150px;
  align-self: center;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: teal;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}
.settingsSubmit:focus {
  border: none;
  outline: none;
}
