.write {
  padding-top: 15px;
}
.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.writeForm {
  position: relative;
}
.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.writeFormIcon {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(122, 121, 121);
  cursor: pointer;
}
.writeInput {
  font-size: 20px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.writeInput:focus {
  outline: none;
}
.writeText {
  font-size: 20px;
  height: 100vh;
}
.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: teal;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
