.sideBar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sideBarItem {
  img {
    margin-top: 15px;
    width: 220px;
    height: 300px;
  }
  p {
    padding: 30px;
  }
}
.sideBarList {
  list-style: none;
  margin-bottom: 30px;
}
.sideBarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sideBarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
