.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', 'serif';
  color: #444;
}

.headerTitleSm {
  position: absolute;
  font-size: 20px;
  top: 15%;
}
.headerTitleLg {
  position: absolute;
  top: 18%;
  font-size: 100px;
}
.headerImg {
  width: 100%;
  height: 550px;
  margin-top: 80px;
  object-fit: cover;
}
